$font               : 'Ubuntu', sans-serif;
//$fontTitle          : 'Fascinate', cursive;

@font-face {
    font-family: "HomeMovie";
    src: url("/asets/fonts/home_movie.otf");
}
@font-face {
    font-family: "TheGoonies";
    src: url("/asets/fonts/the_goonies.ttf");
}
@font-face {
    font-family: "HarryPotter";
    src: url("/asets/fonts/harry_potter.TTF");
}
@font-face {
    font-family: "JurassicPark";
    src: url("/asets/fonts/jurassic_park.ttf");
}
@font-face {
    font-family: "MonstersInc";
    src: url("/asets/fonts/monsters_inc.ttf");
}
@font-face {
    font-family: "RubikMoon";
    src: url("/asets/fonts/rubik_moonrocks.ttf");
}
@font-face {
    font-family: "Transformers";
    src: url("/asets/fonts/transformers.ttf");
}