$font               : 'Ubuntu', sans-serif;
$fontTitle          : 'Fascinate', cursive;

@font-face {
    font-family: "HomeMovie";
    src: url("/asets/fonts/Home\ Movie\ Font\ Normal.otf");
}
@font-face {
    font-family: "TheGoonies";
    src: url("/asets/fonts/Goonies.ttf");
}
@font-face {
    font-family: "HarryPotter";
    src: url("/asets/fonts/HARRYP.TTF");
}
@font-face {
    font-family: "JurassicPark";
    src: url("/asets/fonts/Jurassic_Park.ttf");
}
@font-face {
    font-family: "MonstersInc";
    src: url("/asets/fonts/Monster\ AG.ttf");
}
@font-face {
    font-family: "RubikMoon";
    src: url("/asets/fonts/RubikMoonrocks-Regular.ttf");
}
@font-face {
    font-family: "Transformers";
    src: url("/asets/fonts/Transformers.ttf");
}