
//$colorBackGround    : rgb(187, 31, 153);
$backGround         : linear-gradient(90deg, #9B27CC 0%, #6930D6 100%);

$backgroundForm     : rgba(199, 199, 199, 0.274);
$inputSearch        : rgb(189, 189, 189);
$colorTitle         : rgb(36, 166, 218);
$colorBtn           : rgb(99, 99, 99);
$btnClose           : rgb(201, 106, 106);


