@use '_reset';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import 'variables';
@import 'fonts';





body {
    background-color: $backGround;
    
    background-color: #6930D6;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%239C92AC' fill-opacity='0.22' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // width: 100vw;
    // height: 80vh;
  

}

.movie {
    font-family: $font;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box-title{
        width: 90vw;
        min-width: 250px;
        height: 20vh;
        min-height: 160px;
    }

    & h1 {
        
        font-size: 5rem;
        line-height: 1;
        margin: 20px 0 0.5em 0;
        text-align: center;
        text-justify: center;
        color: $colorTitle;
        text-shadow: 5px 5px 10px rgba(131, 131, 131, 0.815);

        &.font-1{
            font-family: "HomeMovie";
            margin-top: 40px;
        }
        &.font-2{
            font-family: "TheGoonies";
            font-size: 6rem;
            letter-spacing: 6px;
            margin-top: 40px;
        }
        &.font-3{
            font-family: "HarryPotter";
            font-size: 7rem;
            letter-spacing: 6px;
        }
        &.font-4{
            font-family: "JurassicPark";
            font-size: 10rem;
            letter-spacing: 10px;
        }
        &.font-5{
            font-family: "MonstersInc";
            font-size: 7rem;
            letter-spacing: 2px;
        }
        &.font-6{
            font-family: "RubikMoon";
            font-size: 6rem;
        }
        &.font-7{
            font-family: "Transformers";
            font-size: 7rem;
            letter-spacing: 2px;
        }
    }
}




.movie-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 600px;
    
    height: 14vh;
    min-height: 140px;
    padding: 0.8em;
    border-radius: 30px;

    //background-color: #90d36b;

    & div{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        margin: 0.5em 0;

        & input{
            border-radius: 20px;
            letter-spacing: 6px;
            font-size: 1.5rem;
        }
        & .name {
            width: 70%;
            min-width: 400px;
            background-color: $inputSearch;
            color: black;
            margin-right: 20px;
            padding-left: 20px;

            &:focus-visible{
                outline: 0px solid rgba($color: #000000, $alpha: 0);
                background-color: lighten($colorTitle , 30);
            } 

        }
        & .search-submit{
            width: 25%;
            min-width: 120px;
            color: $colorBtn;
            background-color: $colorBtn;
            background-color: $inputSearch;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out 0s;
            &:hover{
    
                background-color: $colorTitle;
                color: lighten($colorBtn, 45);
            }
            &:active{
                background-color: darken($colorBtn, 10);
                color: $colorTitle;
            }
        }
    }
}

  
.loader-container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;


    
}

  .loader {
    margin: 0;
    height: 50px;
    //-webkit-transform: translateY(-50%) translateX(-50%);
    
    > div {
      height: 100%;
      width: 8px;
      //display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }
    
    .bar1{
      background-color: #422e8d ;
    }
    .bar2{
      background-color: #09b7bf;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: #90d36b;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: #f2d40d;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: #fcb12b;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: #ed1b72;
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }

    &.hide-info{
        display: none;
    }
  }
  
  
  @-webkit-keyframes delay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes delay {
    0%, 40%, 100% { 
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }


.movies-find{
    display: block;
    width: 80vw;
    min-width: 260px;
}

.movie-table{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    //padding: 10px;
    width: 100%;   
}

tbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-frame{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
 
    //margin: 2vw;
    margin: 20px;
    border-radius: 30px;
    //border-radius: 2vw;
    background-color: rgba(126, 159, 219, 0.678);
    
    width: 22vw;
    min-width: 280px;
    height: 70vh;
    //min-height: 450px;
    min-height: 520px;
    max-height: 600px;

    
    box-shadow: 5px 5px 30px 1px rgba(44, 44, 44, 0.589);


    & .info-extra{
        background-color: rgba(192, 192, 192, 0.897);
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;


        width: 22vw;
        min-width: 280px;

        height: 70vh;
        //min-height: 450px;
        min-height: 520px;
        max-height: 600px;

        //width: 100%;
        //height: 100%;
        //border-radius: 2vw;
        border-radius: 30px;
        padding: 10px;
    
        & > *{
            //padding: 8px;
            padding: 0.8vh;
            font-size: 1.5rem;
            font-weight: 500;
            color: darken($colorTitle, 25);
        }
    
        & .info-title{
            color: darken($colorTitle, 35);
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
        }
        
        &.hide-info{
            display: none;
        }
    }

}

.movie-image-cont{
    width: 90%;
    height: fit-content;
    max-height: 90%;
    background-color: #09b7bf;
    overflow: hidden;
    border-radius: 0.5em;
    margin: 20px;
}

.movie-name{
    margin: 10px 20px;
    max-width: fit-content;
    font-size: 1.6rem;
    line-height: 1;
}
.movie-btn{
    width: 100px;
    margin-top: 80px;
    
    font-size: 1.6rem;
    border-radius: 20px;
    color: $colorBtn;
    background-color: $colorBtn;
    background-color: $inputSearch;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out 0s;
    &:hover{
        background-color: $colorTitle;
        color: lighten($colorBtn, 45);
    }
    &:active{
        background-color: darken($colorBtn, 10);
        color: $colorTitle;
    }
}


.close-info{
    width: 80px;
    margin-top: 20px;
    padding: 2px;
    border-radius: 20px;
    color: lighten($colorBtn, 50);
    background-color: $btnClose;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0s;
    &:hover{
        background-color: darken($btnClose, 15);
        color: lighten($colorBtn, 45);
    }
    &:active{
        background-color: darken($btnClose, 10);
        color: lighten($colorBtn, 30);
    }
}


.footer {
    display: flex;
    flex-direction: column;
    

    align-items: center;
    position: relative;
    bottom: 0;
    width: 80vw;
    //height: 20vh;
    height: 15%;
    
    
    & .linea {
        width: 80vw;
        height: 4px;
        margin-top: 50px;

        border-radius: 10px;
        background-color: $inputSearch;
    }

    & .derechos-menu {
        display: flex;
        //justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: auto;
        min-width: 350px;
        height: 100%;
        //min-height: 220px;
    
        //background-color: #09b7bf;
        
    }

}

.footer .derechos-menu h5, h3 {
    margin: 1em;
    //margin-right: 30vw;
    min-width: fit-content;
    font-family: $font;
    font-weight: medium;
    font-size: 1.2rem;
    color: $inputSearch;

    &:hover{
        color: $colorTitle;
        cursor: default;
    }
  }
  .footer .derechos-menu a {
    margin: 1em;
  }
  .footer .derechos-menu a img {
    width: 60px;
    min-width: 30px;
    height: auto;
    filter: grayscale(100%);
    transition: ease-in-out 0.5s;
  }
  .footer .derechos-menu a img:hover {
    transform: scale(1.3);
    filter: none;
  }
  .footer .derechos-menu a img:active {
    transform: scale(0.8);
    filter: none;
  }
  


@media screen and (max-width: 1600px) {
    .movie-frame{
        margin: 20px;
        & .info-extra {
            & > *{
                font-size: 1.1rem;
            }
            
            & .info-title{
                font-size: 1.7rem;
            }
        }

        
    }
    
    
    
}
@media screen and (max-width: 1400px) {
   



    .movie-frame{
        & .info-extra {
            & > *{
                font-size: 1rem;
            }
            
            & .info-title{
                font-size: 1.4rem;
            }
        }

        
    }
  
}


@media screen and (max-width: 768px) {
    .movie{
        & h1 {
            font-size: 4rem;
            line-height: 1.1;
            margin: 20px 0 0.5em 0;
            
            &.font-1{
                margin-top: 40px;
            }
            &.font-2{
                font-size: 5rem;
                margin-top: 40px;
            }
            &.font-3{
                font-size: 6rem;
            }
            &.font-4{
                font-size: 8rem;
            }
            &.font-5{
                font-size: 6rem;
            }
            &.font-6{
                font-size: 5rem;
            }
            &.font-7{
                font-size: 6rem;
            }
        }
    }

}
@media screen and (max-width: 650px) {

    .movie-form {
        margin-top: 5vh;
        padding: 0;
        margin-bottom: 60px ;
        & div{
            flex-direction: column;
            align-items: center;
            margin: 0;
            margin-top: 5vh;

            & input{
                letter-spacing: 4px;
            }
            & .name{
                height: 50px;
                margin-top: 20px;
                margin-right: 0;
            }
            & .search-submit{
                height: 40px;
                margin: 0;
                
            }
        }
    }

}
@media screen and (max-width: 565px) {
    .movie{
        & h1 {
            font-size: 3rem;     
            
            &.font-2{
                font-size: 4rem;
            }
            &.font-3{
                font-size: 5rem;
                line-height: 1;
            }
            &.font-4{
                font-size: 7rem;
                line-height: 0.8;
            }
            &.font-5{
                font-size: 5rem;
            }
            &.font-6{
                font-size: 4rem;
            }
            &.font-7{
                font-size: 5rem;
            }
        }
    }

    .movie-form {
        min-width: 350px;
        margin: 20px;
        margin-bottom: 60px ;
        & div {
            margin: 0;
            margin-top: 5vh;
        }
    }



    .footer .derechos-menu h5, h3 {
        margin: 10px;
        font-size: 1rem;
    }
  
}
@media screen and (max-width: 450px) {
    .movie-form {
        margin: 10px;
        margin-bottom: 60px ;
        
        & div{
            & input{
                font-size: 1.3rem;  
                letter-spacing: 3px;      
            }
            & .name{
                min-width: 260px;
                
                
            }
        }
    }

    .footer .derechos-menu h5, h3 {
        margin: 12px;
        font-size: 1rem;
    }
    .footer .derechos-menu a {
        margin: 0.5em;
    }

    
    
}